
$medium-breakpoint: 1600px;
$small-breakpoint: 900px;



//Colors

$color__light-green:#9eb737;
$color__dark-grey: #3d3d3d;


$color__primary: $color__light-green;
$color__background: $color__dark-grey;